/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	src: url("./fonts/Baskerville.ttc") format("ttc");
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}



/*f3ebe9
72807b border hover
c9cbca img border
698479 about*/