/*////////////// Fonts //////////////*/

@font-face {
   font-family: myFirstFont;
   src: url(./fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

 body {
	width: 100%;
	height: 100%;
	background: #f3ebe9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	box-sizing: border-box;
}

.wrapper {
	width: 960px;
	height: fit-content;
	margin:0 auto;
	background: #fff;
	padding: 0 45px 30px;
}
h1 {
	font-family: myFirstFont;
	font-size: 60px;
  font-weight:lighter;
	color: #99a9a3;
	line-height: 3;
	border-bottom: 1px solid #c7cac9;
}
h2 {
	color: #6d7c7c;
}
#main-img{
	display: block;
	margin: 0 auto;
	position: center;
	border: 5px solid #9ba9a4;
}
/* Write all remaining styles here */
p {
	color: #685758;
}
p a {
	color: #458dc3;
	text-decoration: none;
}
.a-style img {
	border: 5px solid #c7cac9;
}
 .a-style img:hover {
	border: 5px solid #697672;
}
.copyright{
	color: #685758;
	font-size: 12px;
	float: right;
}
div {
	display: block;
}
